:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.744);
  background-color: #030b00;
  color: rgb(6, 189, 6);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  outline: none;
  cursor: default;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 350px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.186);
  border-radius: 1em;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
}

button {
  background-color: transparent;
  color: rgb(6, 189, 6);
  font-weight: 800;
  border: 1px solid rgba(255, 255, 255, 0.081);
  border-radius: 50em;
  padding: 0.75em 1.5em;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.trump:hover {
  background-color: rgb(157, 15, 15);
  color: white;
}

.biden:hover {
  background-color: rgb(8, 21, 116);
  color: white;
}

button:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.697);
  transform: translateY(4px);
}

.input-container {
  position: relative;
}

input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.088);
  border-radius: 50em;
  padding: 0.75em 1em;
  font-size: 1.1em;
  color: rgb(6, 189, 6);
  text-align: center;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input:hover {
  border: 1px solid rgba(1, 240, 1, 0.186);
}

h1 {
  width: 90%;
  text-align: center;
}

.end-buttons {
  display: flex;
  gap: 20px;
  position: fixed;
  bottom: 40px;
}

select {
  padding: 0.75em 1em;
  border-radius: 50em;
  border: 1px solid rgba(255, 255, 255, 0.088);
  color: rgb(6, 189, 6);
  background-color: transparent;
  cursor: pointer;
}

option {
  color: rgb(6, 189, 6);
  background-color: black;
}

select option:hover {
  background-color: rgb(6, 189, 6) !important;
  color: black !important;
}

.totals {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  padding-inline: 2em;
}

.id {
  display: flex;
  gap: 10px;
}

.candidate {
  width: 30%;
  border-radius: 50%;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.rewards {
  position: fixed;
  bottom: 10px;
  left: 20px;
}

.loading-cont {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 99;
}

.loader {
  border: 15px solid rgba(6, 189, 6, 0.205);
  border-left-color: rgb(6, 189, 6);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

.shimmer {
  animation: shimmer 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  0% {
    border-color: rgba(1, 240, 1, 0.186);
  }
  50% {
    border-color: rgba(1, 240, 1, 0.686);
  }
  100% {
    border-color: rgba(1, 240, 1, 0.186);
  }
}

@media screen and (max-width: 767px) {
  .mobile {
    margin-top: 50px;
  }

  .id {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 1em;
  }
}